<!DOCTYPE html>
<html class="has-background-grey-light">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrNnonimous</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
</head>

<body>

    <nav class="navbar is-dark" >
        <div class="navbar-brand">
        <a class="navbar-item " href="{{ url_for('main.index') }}" >
            <img src="{{url_for('static', filename='images/onion.png')}}" style="max-height: 50px" > 
        </a>
        </div>
    
        <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('main.index') }}">
                Home
            </a>
        </div>
    
        <div class="navbar-end">
            {% if current_user.is_authenticated %}
            <a class="navbar-item" href="{{ url_for('auth.logout') }}">
                Logout
            </a>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <a class="navbar-item" href="{{ url_for('auth.signup') }}">
                Signup
            </a>
            <a class="navbar-item" href="{{ url_for('auth.login') }}">
                Login
            </a>
            {% endif %}
            </div>
        </div>
        </div>
    </nav>

    <div class="hero-body">
        {% block content %}

        {% endblock %}
    </div>

</body>

    
</html>